name: Build + Push + Update GitOps (single repo)

on:
  push:
    branches: ["main"]

permissions:
  contents: read
  packages: write

jobs:
  build_push_update:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set tag
        id: vars
        run: echo "TAG=${GITHUB_SHA::7}" >> $GITHUB_OUTPUT

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            ghcr.io/tbhuvaneswar/dummy-car:${{ steps.vars.outputs.TAG }}
            ghcr.io/tbhuvaneswar/dummy-car:latest

      - name: Update GitOps overlays image tag
        run: |
          TAG=${{ steps.vars.outputs.TAG }}
          for ENV in dev1 dev2 qa prod; do
            FILE="car-gitops/apps/dummy-car/overlays/${ENV}/patch.yaml"
            sed -i "s#ghcr.io/tbhuvaneswar/dummy-car:.*#ghcr.io/tbhuvaneswar/dummy-car:${TAG}#g" "$FILE"
          done

      - name: Commit and push GitOps changes
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add car-gitops/apps/dummy-car/overlays
          git commit -m "deploy dummy-car ${{ steps.vars.outputs.TAG }}" || echo "No changes"
          git push
